@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

@layer base {
  body {
    @apply bg-zinc-950 text-neutral-200;
  }
}

/* Custom pulse animation for ongoing */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
}

.pulse {
  animation: pulse 2s infinite;
}

/* Custom button styles */
.custom-button {
  width: 100%;
  background-color: #2563eb; /* bg-blue-600 */
  color: white;
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border-radius: 0.375rem; /* rounded-md */
  transition: background-color 0.3s ease; /* transition-colors */
}

.custom-button:hover {
  background-color: #1d4ed8; /* hover:bg-blue-700 */
}
